GaussianObject/utils/__pycache__/
GaussianObject/threestudio/data/__pycache__/
GaussianObject/threestudio/systems/__pycache__/
GaussianObject/threestudio/utils/__pycache__/
GaussianObject/submodules/CLIP/
GaussianObject/submodules/croco/
GaussianObject/submodules/diff-gaussian-rasterization/
GaussianObject/submodules/diff-gaussian-rasterization-w-pose/
GaussianObject/submodules/minLoRA/
GaussianObject/submodules/pytorch3d/
GaussianObject/submodules/segment-anything/
GaussianObject/submodules/simple-knn/
GaussianObject/scene/__pycache__/
GaussianObject/models/control_v11f1e_sd15_tile.pth
GaussianObject/models/v1-5-pruned.ckpt
GaussianObject/models/ViT-B-32.pt
GaussianObject/output

MV-Adapter/lora_output_rccar/
MV-Adapter/results/
MV-Adapter/output_reference.png
MV-Adapter/output.png
